/*#region HEADER NAVBAR*/
@import "../utilities/variables";
nav{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center; 

}
.logo{
    margin-top: 5px;
}
.logo img{
    height: 8vw;
    max-height: 70px;
}
#nav-hamburguer-menu{
    display: none;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-item{
    padding: 0px 5px 3px;
    height: fit-content;
    width: fit-content;
    margin: 0 5px;
    font-size: 1em;
    background-color: aliceblue;
    box-shadow: 5px 5px  $complement;
    border: solid 2px $font-secondary;
}

.nav-item:hover{
    color: #fff;
    background-color: $complement;
    box-shadow: 5px 5px  #fff;
}
.nav-item:hover a{
    color: $font-primary;
}

a{
    color: #000;
    text-decoration: none;
}
/*#endregion HEADER NAVBAR*/

